# Godot
.godot/
*.godot.uid
exports/
.android/
.ios/

# Builds
build/
dist/
*.apk
*.aab
*.exe
*.x86_64
*.zip

# Saves locales de prueba
saves/*.json
!saves/.gitkeep

# Python tools
__pycache__/
.venv/
*.pyc

# OS
.DS_Store
Thumbs.db
*~
